{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter username" id="username">
                    <button type="button" class="btn btn-warning" onclick="userCheck()">중복체크</button>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" id="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" id="email">
                </div>
                <button id="btnJoin" type="button" class="btn btn-primary form-control"
                    onclick="joinUser()">회원가입</button>
            </form>
        </div>
    </div>
</div>

<script>
    async function userCheck() {
        let username = document.querySelector("#username").value;
        // fetch에 사용할 username을 템플릿으로 java에서 가져오는 것이 아닌 현재 html에서 입력한 값으로
        // document.querySelector에서 username에 넣고
        // 밑에 쿼리스트링에 username을 한다.

        let response = await fetch(`/api/userCheck?username=${username}`, {
            headers: {
                "Content-Type": "application/json"
            }
        });

        let responseBody = await response.json();

        if (responseBody.success) {
            alert(responseBody.data);
        } else {
            alert(responseBody.data);
        }
    }

    async function joinUser() {
        let requestBody = {
            username: document.querySelector("#username").value,
            password: document.querySelector("#password").value,
            email: document.querySelector("#email").value
        }

        let response = await fetch("/api/join", {
            method: "post",
            headers: {
                "content-type": "application/json"
            },
            body: JSON.stringify(requestBody)
        });

        let responseBody = await response.json();
        console.log(responseBody);

        if (responseBody.success) {
            alert(responseBody.data);
            location.href = "/loginForm";
        } else {
            alert(responseBody.data);
        }
    }

</script>

{{> layout/footer}}