{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>회원가입을 해주세요</b></div>
        <div class="card-body">
            <form action="/join" method="post" enctype="multipart/form-data" onsubmit="return valid()">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter username" name="username" id="username"
                        onchange="usernameChange()">
                    <button type="button" class="btn btn-warning" onclick="userCheck()">중복체크</button>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password"
                        id="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="email" id="email">
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" placeholder="Enter file" name="pic">
                </div>
                <button id="btnJoin" type="submit" class="btn btn-primary form-control">회원가입</button>
            </form>
        </div>
    </div>
</div>

<script>

    // 중복체크를 아직 하지 않은 상태
    let usernameSameCheck = false;

    // 중복체크 버튼 유무 확인
    function valid() {
        if (usernameSameCheck) {
            return true;
            console.log("테스트1");
        } else {
            alert("유저네임 중복체크를 해주세요.");
            return false;
            console.log("테스트2");

        }
    }

    // 중복체크 후 아이디 변경 한 다음 다시 중복체크 유무 확인
    function usernameChange() {
        console.log("변경됨");
        usernameSameCheck = false;
    }

    async function userCheck() {
        let username = document.querySelector("#username").value;
        // fetch에 사용할 username을 템플릿으로 java에서 가져오는 것이 아닌 현재 html에서 입력한 값으로
        // document.querySelector에서 username에 넣고
        // 밑에 쿼리스트링에 username을 한다.

        let response = await fetch(`/api/userCheck?username=${username}`, {

        });

        let responseBody = await response.json();

        if (responseBody.success) {
            alert(responseBody.data);
            usernameSameCheck = true;
        } else {
            alert(responseBody.data);
            usernameSameCheck = false;
        }
    }

    async function joinUser() {
        let requestBody = {
            username: document.querySelector("#username").value,
            password: document.querySelector("#password").value,
            email: document.querySelector("#email").value
        }

        let response = await fetch("/api/join", {
            method: "post",
            headers: {
                "content-type": "application/json"
            },
            body: JSON.stringify(requestBody)
        });

        let responseBody = await response.json();
        console.log(responseBody);

        if (responseBody.success) {
            alert(responseBody.data);
            location.href = "/loginForm";
        } else {
            alert(responseBody.data);
        }
    }

</script>

{{> layout/footer}}